#top {
    text-align: center;
    margin-top: 10px;
}

.displayBox {
    background-color: beige;
    border-color: blue;
    border-style: solid;
    border-width: medium;
    color: blue;
    padding: 15px;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
    overflow-wrap: break-word;
    justify-content: center;
}

#about>div>p>a,
#contact>div>span>a,
#shows>div>p>a {
    color: #f70de3;
}

body {
    height: 100vh;
}

main {
    height: 100%;
}

#subheading {
    text-align: right;
}

#content {
    height: 400px;
    line-height: 1.5em;
    overflow-x: auto;
    overflow-y: auto;
    padding: 10px;
    border-style: solid;
    border-color: blue;
    background-color: white;
    color: black;
}

#archive>div {
    height: 632.8px;
}

#contact>div {
    height: 93.8%;
}

#years {
    max-height: 470px;
    overflow-y: auto;
}

.accordion>p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.accordionButton {
    text-align: left;
    transition: 0.4s;
}

span>.accordionButton {
    margin: 5px;
}

span>.panel>p {
    margin: 0;
}

.active,
.accordionButton:hover {
    background-color: darkgray;
}

.panel {
    padding-left: 15px;
    display: none;
    overflow: hidden;
}

span>em {
    margin-left: 10px;
}