body {
    background-image: url("assets/oj.jpg");
    background-position: center center;
    background-repeat: round;
    background-attachment: fixed;
}

#top {
    text-align: center;
}

.displayBox {
    background-color: beige;
    border-color: blue;
    border-style: solid;
    border-width: medium;
    color: blue;
    padding: 1%;
    margin: 2%;
}

body {
    height: 100vh;
}

main {
    height: 100%;
    display: flex;
}

#mailText {
    width: auto;
    height: 350px;
    line-height: 3em;
    overflow-y: scroll;
    padding: 5px;
    border-style: solid;
    border-color: greenyellow;
    background-color: #4222be;
    color: white;
}

.footer {
    position: fixed;
    width: 100%;
    height: auto;
    line-height: auto;
    margin-top: auto;
    margin-bottom: 0;
    padding: 1%;
}

HTML CSS Result EDIT ON .wordart {
    font-family: Arial, sans-serif;
    font-size: 4em;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wordart.purple .text {
    text-align: center;
    font-size: 2em;
    letter-spacing: -0.01em;
    font-family: Impact;
    background: #4222be;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…IgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top, #4222be 0%, #a62cc1 73%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4222be), color-stop(73%, #a62cc1));
    background: -webkit-linear-gradient(top, #4222be 0%, #a62cc1 73%);
    background: -o-linear-gradient(top, #4222be 0%, #a62cc1 73%);
    background: -ms-linear-gradient(top, #4222be 0%, #a62cc1 73%);
    background: linear-gradient(to bottom, #4222be 0%, #a62cc1 73%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#4222be', endColorstr='#a62cc1', GradientType=0);
    -webkit-text-stroke: 0.01em #B28FFD;
    filter: progid: DXImageTransform.Microsoft.Glow(Color=#b28ffd, Strength=1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* Style the buttons that are used to open and close the accordion panel */

.accordion {
    background-color: greenyellow;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.active,
.accordion:hover {
    background-color: hotpink;
}


/* Style the accordion panel. Note: hidden by default */

.panel {
    padding: 0 18px;
    background-color: purple;
    display: none;
    overflow: hidden;
}