#top {
    text-align: center;
}

.displayBox {
    background-color: beige;
    border-color: blue;
    border-style: solid;
    border-width: medium;
    color: blue;
    padding: 15px;
    margin: 2%;
}

body {
    height: 100vh;
}

main {
    height: 100%;
    display: flex;
}

#subheading {
    text-align: right;
}

#content {
    width: auto;
    height: 350px;
    line-height: 2em;
    overflow-y: auto;
    padding: 10px;
    border-style: solid;
    border-color: blue;
    background-color: white;
    color: black;
}

#years {
    max-height: 470px;
    overflow-y: auto;
}

.accordion>p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.footer {
    position: fixed;
    width: 100%;
    height: auto;
    line-height: auto;
    margin-top: auto;
    margin-bottom: 0;
    padding: 1%;
}

.accordionButton {
    text-align: left;
    transition: 0.4s;
}

.active,
.accordionButton:hover {
    background-color: darkgray;
}

.panel {
    padding-left: 15px;
    display: none;
    overflow: hidden;
}